<div>
  <h2 id="page-heading" data-cy="BookHeading">
    <span jhiTranslate="buecherStoreApp.book.home.title">Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="buecherStoreApp.book.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="buecherStoreApp.book.home.createLabel"> Book erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="books?.length === 0">
    <span jhiTranslate="buecherStoreApp.book.home.notFound">Keine Books gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="books && books.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subTitle">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.subTitle">Sub Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="publisher">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.publisher">Publisher</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="author">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.author">Author</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="listPrice">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.listPrice">List Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="retailPrice">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.retailPrice">Retail Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pageCount">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.pageCount">Page Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="averageRating">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.averageRating">Average Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ratingCount">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.ratingCount">Rating Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="infoLink">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.infoLink">Info Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="webReaderLink">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.webReaderLink">Web Reader Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isbn">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.isbn">Isbn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longDescription">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.longDescription">Long Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="textSnippet">
            <div class="d-flex">
              <span jhiTranslate="buecherStoreApp.book.textSnippet">Text Snippet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a>
          </td>
          <td>{{ book.name }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.description }}</td>
          <td>{{ book.subTitle }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.listPrice }}</td>
          <td>{{ book.language }}</td>
          <td>{{ book.retailPrice }}</td>
          <td>{{ book.image }}</td>
          <td>{{ book.pageCount }}</td>
          <td>{{ book.averageRating }}</td>
          <td>{{ book.ratingCount }}</td>
          <td>{{ book.infoLink }}</td>
          <td>{{ book.webReaderLink }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.longDescription }}</td>
          <td>{{ book.textSnippet }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/book', book.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button type="submit" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="books && books.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
