/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('/content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('/content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}
.bookContainer {
  display: flex;
  flex-wrap: wrap;
}
.bookCard {
  width: 620px;
  height: 480px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: gray;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 16px;
}
.heading {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.3rem;
}
